h1{
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

hr {
  margin: 0;
  border: none;
}

picture {
  display: block;
}
