// break points
$break: 768;
$max: 3840;
$fhd: 1920;
$large: 1536;
$pc: 1440;
$hd: 1280;
$tab: 1024;
$tab-min: 768;
$sp-large: 414;
$sp: 375;
$sp-min: 320;

/*
PCディスプレイサイズ
1920 * 1080
1536 * 864
1440 * 900
1366 * 768
1280 * 720
 */
$pc-bestview-height: 900;

/*
SPディスプレイサイズ
414 * 896
374 * 667
 */
$sp-bestview-height: 667;
