$darkBlack: #000;
$black: #302c1a;
$gray: #828282;
$white: #fff;
$darkBlue: #0d4c82;
$blue: #7ec1f9;
$lightBlue: #55b1ff;
$skinColor: #f0efeb;
$thinPink: #ffabb7;
$darkPink: #d32254;
$yellow: #ffd955;
$purple: #5e6d90;
$thinPurple: #c9d3e9;
$gold: #f1d7b2;