body {
  background-color: $skinColor;
  color: $white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-feature-settings: "palt";
}

.l-container {
  width: 100%;
  padding: 0 40px;

  @include sp(){
    padding: 0 vw_sp(20);
  }
}

span::selection {
  background: $darkBlack;
  color: $white;
}
